body {
    background: rgb(160, 160, 160) ;
    height: 3000px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    height: 100pt;
    border: 1px solid rgb(0, 0, 0);
}

p {
    font-size: 20;
    margin-top: 5px;
}

#title1 {
    filter: blur(10px);
}

.block {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 500px;
    left: 0px;
    background: rgb(134, 100, 100);
}

@keyframes animation{
    0%{
        top: 500px;
        left: 0px;
    }

    25%{
        top: 500px;
        left: 300px;
    }

    50%{
        top: 100px;
        left: 300px;
    }

    75%{
        top: 700px;
        left: 200px;
    }
}

.move {
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: 1;
}